*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background-color: rgb(243, 243, 243);
}

/* Loader */

.loader-overlay{
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #FFF;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Nav */

nav{
  background-color: rgb(18, 35, 68);
  height: 8vh;
  display: flex;
  justify-content: space-between;
}

.nav-icon{
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem;
  justify-content: center;
}

.nav-icon p{
  color: white;
}

.nav-icon img{
  width: 25px;
}

.nav-search-bar{
  display: none;
}

.nav-options{
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.nav-options ul{
  display: flex;
  gap: 1rem;
  justify-content: end;
  padding: 0.5rem;
}

.nav-options ul li{
  color: white;
  list-style: none;
}

/* Home */

.home-menu{
  padding: 1rem 0.5rem 1rem 0.5rem;
}

.input-container{
  margin-bottom: 0.5rem;
  padding: 0 1.5rem;
}

.input-container form{
  display: flex;
  justify-content: space-between; 
}

.input-container form input{
  border: none;
  background-color: rgb(218, 218, 218);
  padding: 0.5rem;
  width: calc(100% - 72.25px);
  border-radius: 0.5rem;
  font-size: 1rem;
}

.input-container form button{
  background-color: rgb(18, 35, 68);
  color: white;
  border: none;
  padding: 7px 12px;
  border-radius: 0.5rem;
}

.filter-container{
  display: flex;
  justify-content: flex-end;
  padding: 0 1.5rem;
}

.btn-for-filter{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: none;
  height: 34px;
  padding: 0 9px;
  border-radius: 0.5rem;
  background-color: transparent;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  background-color: rgb(18, 35, 68);
  color: white;
}

.filter-by-category-overlay{
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

.filter-by-category-space{
  width: 20%;
  height: 100%;
}

.filter-by-category-container{
  background-color: rgb(243, 243, 243);
  width: 80%;
  height: 100%;
}

.fbc-btn-container{
  padding: 5px;
  display: flex;
  justify-content: flex-end;
}

.fbc-btn-container button{
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: rgb(18, 35, 68);
}

.fbc-options-container{
  padding: 0.5rem;
}

.fbc-category-container{
  padding: 0 0.5rem;
}

.fbc-category-container p{
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.fbc-category-container ul li{
  list-style: none;
  margin-left: 0.5rem;
}

/* > Cart */

.cart-overlay{
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

.cart-overlay-space{
  width: 20%;
  height: 100%; 
}

.cart-container{
  background-color: rgb(243, 243, 243);
  width: 80%;
  height: 100%;
}

.cart-close-btn{
  padding: 5px;
  display: flex;
  justify-content: flex-end;
}

.cart-close-btn button{
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: rgb(18, 35, 68);
}

.cart-data-container{
  padding: 0.5rem;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 94%;
}

.cart-data-container h2{
  margin-bottom: 0.5rem;
  color: rgb(18, 35, 68);
}

.cart-items-container{
  height: 79.5%;
}

.cart-items-container ul{
  display: grid;
  gap: 0.5rem;
  overflow-x: auto;
  padding: 0.5rem;
  max-height: 100%;
}

.cart-data-container ul li{
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 3px;
  height: fit-content;
}

.cart-data-container ul li .pd-line{
  margin-bottom: 0;
}

.cart-item-img-description{
  display: flex;
  gap: 0.5rem;
}

.cart-item-img{
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-item-img img{
  max-width: 45px;
  max-height: 45px;
}

.cart-item-description{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-item-quantity-options{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.cart-item-options{
  display: flex;
}

.cart-item-options span{
  height: 34px;
  background-color: rgb(218, 218, 218);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3px;
  width: 34px;
}

.cart-item-options button{
  height: 34px;
  width: 34px;
  border-radius: 0.5rem;
  background-color: rgb(18, 35, 68);
  color: white;
  border: none;
}

.cart-item-delete-btn{
  height: 34px;
  width: 34px;
  border-radius: 0.5rem;
  background-color: rgb(18, 35, 68);
  color: white;
  border: none;
}

.cart-total-pay-container{
  padding: 0 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: end;
}

.cart-checkout-btn{
  height: 40px;
  width: 100%;
  border-radius: 0.5rem;
  background-color: rgb(18, 35, 68);
  color: white;
  border: none;
}

.cart-empty{
  display: flex;
  height: 90%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.cart-empty h2,
.cart-empty i{
  color: rgb(18, 35, 68);
}



.products-ul-container{
  padding: 0 1rem 1rem 1rem;
}

.products-ul-container ul{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.products-ul-container ul li{
  list-style: none;
}

.product-card{
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.product-image{
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.product-image img{
  height: 130px;
}

.product-line{
  height: 1px;
  width: 80%;
  background-color: rgb(194, 194, 194);
}

.product-title{
  margin-bottom: 1rem;
}

.product-description{
  padding: 1rem;
  width: 100%;
}

.product-price-buy{
  display: flex;
  justify-content: space-between;
}


.product-price p{
  font-size: 14px;
}

.product-button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.add-product-btn{
  height: 34px;
  width: 42px;
  border: none;
  background-color: rgb(18, 35, 68);
  color: white;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Product Detailed */

.product-detailed-container{
  padding: 1rem;
}

.pd-btn-container{
  display: flex;
}

.pd-btn-container button{
  color: rgb(18, 35, 68);
  padding: 5px 8px;
  border: none;
  background-color: transparent;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.pd-category-container{
  margin: 0.5rem 0;
}

.pd-category-container p{
  color: rgb(102, 102, 102);
}

.product-container{
  margin: 0 0 1rem 0;
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-container p{
  font-size: 1rem;
}

.product-container .product-price-buy{
  width: 100%;
  flex-direction: column;
  gap: 1.5rem;
}

.product-container .product-price-buy p{
  font-size: 1.4rem;
}

.pd-img-container{
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.pd-img-container img{
  max-width: 225px;
  max-height: 275px;
}

.pd-line{
  height: 1px;
  width: 95%;
  background-color: rgb(194, 194, 194);
  margin: 0.5rem 0;
}

.pd-description-container{
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 1rem;
}

.pd-description-container h3{
  margin-bottom: 0.5rem;
}

.pd-product-button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-direction: column;
}

.pd-product-quantity{
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.pd-product-quantity span{
  width: 40px;
  background-color: rgb(218, 218, 218);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3px;
}

.pd-product-quantity button{
  width: 40px;
  border: none;
  background-color: rgb(18, 35, 68);
  color: white;
  border-radius: 0.5rem;
}

.pd-add-product-btn{
  width: 100%;
  padding: 0.5rem;
  height: 40px;
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(18, 35, 68);
  color: white;
}

.pd-sugested-products-container{
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.pd-sugested-products-ul ul{
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  overflow-x: auto;
  padding: 0.5rem 0.2rem;
}

.pd-sugested-products-ul ul li{
  list-style: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  width: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.pd-sugested-product-img-txt{
  width: 100%;
}

.pd-sugested-product-img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

.pd-sugested-product-img img{
  max-height: 100px;
  max-width: 150px;
}

.pd-sugested-products-ul ul li .product-price-buy{
  margin-top: 1rem;
  width: 100%;
}

/* Login */

.login-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

.login-test-container{
  border-radius: 0.5rem;
  background-color: white;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.login-test-credentials-container{
  border-radius: 0.5rem;
  background-color: rgb(218, 218, 218);
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.login-test-credentials-container button{
  border: none;
  background-color: rgb(18, 35, 68);
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  color: white;
}

.login-form-container{
  border-radius: 0.5rem;
  background-color: white;
  padding: 1rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.login-form-container h2{
  margin-bottom: 1rem;
  color: rgb(18, 35, 68);
}

.login-form-container button{
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(18, 35, 68);
  color: white;
  margin-top: 0.2rem;
}

.login-input-container{
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-bottom: 0.7rem;
}

.login-input-container label{
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
}

.login-input-container label{
  font-size: 1.1rem;
}

.login-input-container input{
  width: 100%;
  border: none;
  background-color: rgb(218, 218, 218);
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}

/* User */

.user-view-container{
  padding: 2rem;
}

.user-data-container{
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  padding: 1rem;
}

.user-data-img-container{
  display: flex;
  justify-content: center;
}

.user-data-img-container img{
  width: 75px;
  border-radius: 50%;
}

.user-data-name-container{
  padding: 0.5rem;
  margin: 0.5rem 0 2rem 0;
  display: flex;
  justify-content: center;
}

.user-data-name-container p{
  color: rgb(18, 35, 68);
}

.user-data-container button{
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(18, 35, 68);
  color: white;
}